.post-image{
    width: 100%;
    object-fit: contain;
}

.post-header{
    display: flex;
    align-items: center;
    padding: 20px;
}

.post-avatar{
    margin-right: 10px;
}

.post-caption{
    padding: 20px;
}