* {
  margin: 0
}

.app{
  background-color: #FAFAFA;
}

.app-header{
  position: sticky;
  top: 0;
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app-posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app-posts-left{
  margin-right: 20px;
}

#app-signup-form{
  display: flex;
  flex-direction: column;
}

.app-input{
  padding: 5px; 
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid black;
}

.app-input:focus{
  outline:none;
}

